DJANGO_KEY=
OLLAMA_HOST=
OLLAMA_PORT=
OLLAMA_MODEL=
MAX_MESSAGE_LENGTH=
MAX_HISTORY_MESSAGES=
MAX_HISTORY_CHARS=
MAX_RESPONSE_TOKENS=
SAFE_TOTAL_PROMPT_CHARS=
OLLAMA_NUM_CTX=
MAX_STORED_MESSAGES=
OLLAMA_TIMEOUT=
MIN_REQUEST_INTERVAL=
OLLAMA_TEMPERATURE=